table, td, th {
  border: 3px solid;
  border-collapse: collapse;
  border-color: black;
}

.rowtable1 {
  background-color: purple;
  color: white;
}

h1 {
  font-size: 20px;
}

body, table{
  //text-align: center;
  margin-left: auto;
  margin-right: auto;
}
h1{
  text-align: center;
}

#row1, #row3 {
  background-color: #D7D2DF;
}

#row2, #row4 {
  background-color: #ECE8EF;
}


.csc429{
  background-color: yellow;
}
.csc413{
  background-color: purple;
  color: white;
}
.csc402{
  background-color: cyan;
}
.ict450{
  background-color: sandybrown;
}
.mat406{
  background-color: red;
  color: white;
}
.ctu552{
  background-color: blue;
  color: white;
}

button{
  display: block;
  font-size: 50px;
  margin: 50px auto 0;
}

p {
  font-size: 30px
}
